.cont{
    display: flex;
    flex-direction: column;
    width: 16.8rem;
    border: 1.5px,solid,#DBDFD0;
    border-radius: 12px;
    font-family: var(--DMSans-font-family);
    padding-bottom: 1.7rem;
    margin-bottom: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
}

.pr{
   font-size: 24px;
    font-weight: 700;
    color: #AD343E;
} 

.na{
    font-size: 20px;
    font-weight: 700;
    color: #2C2F24;
    
}

.in{
    font-size: 16px;
    font-weight: 400;
    color: #414536;
}