@import "tailwindcss";

@theme {
    --spacing-5vw: 5vw;
    --spacing-7vw: 7vw;
    --spacing-10vw: 10vw;
    --color-footer-bg: #474747;
    --color-footer-social: #ad343e;
    --font-sans: 'DS Sans', 'Helvetica Neue', Arial, sans-serif;
    --font-serif: 'Playfair Display', Georgia, serif;
}

@layer theme {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    main {
        flex-grow: 1;
    }

    footer {
        color: oklch(from var(--color-footer-bg) calc(l + 0.45) c h);
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold;
    }
}

footer h3 {
    @apply text-white mb-10 font-semibold;
}

footer hr {
    color: oklch(from var(--color-footer-bg) calc(l - 0.025) c h);
}

.footer-details {
    color: oklch(from var(--color-footer-bg) calc(l + 0.3) c h);
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer a {
    transition: color 0.3s ease;

    &:hover {
        color: #fff;
        transition: color 0.3s ease;
    }
}

.footer-insta-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: min(2vw, 1rem);
}

.footer-insta-grid > div {
    aspect-ratio: 8/7;
    border-radius: 1rem;
    overflow: clip;
    position: relative;
}

.footer-social a {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #fff;
    background-color: var(--color-footer-social);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: oklch(from var(--color-footer-social) l calc(c + 0.1) h);
        transition: background-color 0.3s ease;
    }
}