.cont{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.abc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8rem;
    gap: 0.5rem;
}
.head>h2{
    font-family: var(--Playfair-font-family);
    font-size: 55px;
    font-weight: 500;
    color: #2C2F24;
}

.head>p{
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 400;
    color: #414536;
    margin-right: 4rem;
}
.imcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
}

.imc{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;   
    border-radius: 12px;
    border: 1px solid #F9F9F7;
    box-shadow: 0 2.98px 59.5px 0 #00000014;
    height: 75px;
}

.ubox{
    width: 200px;
}
.dbox{
    width: 225px;
}
.ibox{
    width: 200px;
}
.uber{
    width: 152px;
    height: 24.5px;
}


.grub{
    width: 117px;
    height: 24.5px;
}

.post{
    width: 151.8px;
    height: 24.5px;
}

.door{
    width: 191px;
    height: 24.5px;
}

.food{
    width: 166px;
    height: 30px;
}
.deliver{
    width: 166.5px;
    height: 44.5px;
}

.insta{
    width: 150.4px;
    height: 30.1px;
}

.just{
    width: 137.3px;
    height: 24.3px;
}

.didi{
    width: 157.2px;
    height: 30.5px;
}