.hcont{
    display: flex;
    flex-direction: column;
    width: 41.5rem;
}
.hm{
    display: flex;
    justify-content: center;
    text-align: center;
}
.headingm{
    font-family: var(--Playfair-font-family);
    font-size: 100px;
    font-weight: 400;
    color: #2C2F24;
}

.ht{
    display: flex;
    justify-content: center;
    text-align: center;
}
.headingt{
    font-family: var(--DMSans-font-family);
    font-size: 18px;
    font-weight: 400;
    color: #495460;
    padding-left: 4rem;
    padding-right: 4rem;
}