* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: DMSans;
    src: url(../assets/fonts/DMSans.ttf);

    font-family: Playfair;
    src: url(../assets/fonts/PlayfairDisplay.ttf);
}

:root {
    --DMSans-font-family: DMSans;
    --Playfair-font-family: Playfair;
}

.main {
    background-color: #FFFFFF;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.head{
    margin-bottom: 2rem;
}

.mitems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 85%;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F7;
    margin-top: 5.5rem;
}

@media only screen and (width>1280px){
    .hcon{
        width: 41.5rem;
    }
}

@media only screen and (width<=1280px){
    .hcon{
        width: 38rem;
    }
}

@media only screen and (width<=900px){
    .hcon{
        width: 32rem;
    }
}
