.content{
    box-shadow: 0 2.98px 59.5px 0 #00000014;
    background-color: #FFFFFF;
    border: 1px, solid,  #FFFFFF;
    border-radius: 16px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: var(--DMSans-font-family);
    font-weight: 700;
    color: #2C2F24;
    padding: 2rem;
    width: 51rem;
    height: 31rem;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.input_size{
    border: 1px,solid,#DBDFD0;
    border-radius: 72px;
    height: 3.75rem;
    width: 22.5rem;
}

.pad{     
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.drop{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../assets/book_ico/arrow.svg") 95% / 4.2% no-repeat;
}

.input2_size{
    border: 1px,solid,#DBDFD0;
    border-radius: 72px;
    height: 3.75rem;
    width: 100%;
}

.person{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../assets/book_ico/arrow.svg") 95% / 2% no-repeat;
    font-weight: 400;
}

.book{
    background-color: #AD343E;
    color: #FFFFFF;
    height: 4rem;
}

.abc{
    color: #737865;
}