.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #474747;
    color: #F9F9F7;
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 45px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 82%;
}

.contact {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.contact>li>img{
    margin-top: 2.3px;
    width: 18px;
    height: 18px;
}

.item{
    display: flex;
    gap: 0.5rem;
}

.socials {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.2rem;
}