.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
    width: 82%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.logo>p{
    text-align: center;
    font-family: var(--Playfair-font-family);
    color: #474747;
    font-size: 43px;
    font-style: italic;
    font-weight: 600;
}

.logoimg{
    height: 56px;
    width: 56px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    width: 30%;
    height: 6vh;
    margin-left: 1rem;
}

.item{
    text-align: center;
    padding: 0.3rem 1rem;
}

.item>a{
    color: #2C2F24;
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 500;
}

.item:hover{
    background-color: #DBDFD0;
    border-radius: 34px;
}

.btn{
    border: 1px solid #2C2F24;
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 700;
    color: #182226;
    width: 10vw;
    height: 6vh;
    border-radius: 118px;
    background-color:transparent;
}