.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.7rem;
    margin-top: 1rem;
}

.btn{
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    padding: 16px,8px,16px,8px;
    width: 7.5rem;
    height: 3rem;
    border: 1px, solid, #DBDFD0;
    background: transparent;
    color: #2C2F24;
}

.act{
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    padding: 16px,8px,16px,8px;
    width: 7.5rem;
    height: 3rem;
    border: 1px, solid, #DBDFD0;
    background-color: #AD343E;
    color: #FFFFFF;
}